################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FontMakerGUI/.vs/FontMakerGUI
/.vs
/SyncfusionWinFormsApp1
/FontMakerGUI_WF/FontMakerGUI/obj/x64/Debug
/FontMakerGUI_WF/packages
/FontMakerGUI_WF/FontMakerGUI_WF
